body, html {
    height: 100%;
    margin: 0;
    font-family: 'Helvetica', sans-serif;
    overflow: hidden;
    background-color: #d9d9d9; /* Assuming white background, change as needed */
}

.screen {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative; /* Stacking context */
}

#main-screen.hidden {
    display: none;
}

h1 {
    font-size: 15em; /* Increased font size */
    font-weight: bolder; /* Make the text bolder */
    text-align: center;
    color: #181818; /* Text color changed to black */
    z-index: 0; /* Ensure text is above other content */
    position: absolute;
    top: 35%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Centering adjustment */
    white-space: nowrap; /* Ensures text stays in one line */
}



#person-img {
    width: auto; /* Adjust width as necessary */
    height: auto; /* Adjust height as necessary */
    max-width: 100%;
    max-height: 100%; /* Adjust max-height as necessary */
    position: absolute;
    bottom: 0vh; /* Align to the bottom */
    left: 50%; /* Center horizontally */
    transform: translate(-35%, 5%); /* Centering adjustment for horizontal alignment */
    z-index: 1; /* Image in front of the text */
    opacity: 0; /* Start with image hidden */
    scale: 140%;
}

/* Navigation Menu CSS */
#menuToggle {
    position: absolute;
    top: 40px; /* Adjust top position as needed */
    right: 50px; /* Position to the upper right */
    z-index: 3;
    -webkit-user-select: none;
    user-select: none;
    visibility: hidden; /* Initially hide the menu toggle */
}

#menuToggle input {
    top: -10px;
    left: -19%;
    display: block;
    width: 40px;
    height: 30px;
    position: absolute;
    cursor: pointer;
    opacity: 0; /* hide this */
    z-index: 10;
}

#menuToggle span {
    display: block;
    width: 28px;
    height: 2px;
    margin-bottom: 2px;
    position: relative;
    background: #181818;
    border-radius: 4px;
    z-index: 3;
    transform-origin: 0px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    opacity 0.55s ease;
}


#menuToggle span:first-child
{
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
    /* transform-origin: 30% 250%; */

}

#menuToggle span:nth-last-child(3)
{
    opacity: 0;

}

#menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(0px, -11px);
    background: #d9d9d9;
}


#menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, 6px);
}

#menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}


#menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(24, 24, 24); /* Overlay background */
    display: none; /* Initially hide the menu */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2; /* Above the content */
    transition: all 0.5s ease;
}

#menuToggle input:checked ~ #menu {
    display: flex; /* Show the menu when toggle is activated */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(24, 24, 24); /* Semi-transparent background for overlay */
    z-index: 2; /* Make sure it's above other content */
}

#menu a {
    text-decoration: none;
    color: #d9d9d9; /* Set text color to white */
    font-size: 8em; /* Set font size */
    padding: 20px; /* Set padding for tap targets */
    transition: color 0.3s;
}

#menu a:hover {
    color: #da2323; /* Hover state color */
}

.social-icons a {
    color: #d9d9d9;
    padding: 0 10px;
    font-size: 2em; /* Social icon size */
}

.social-icons {
    margin-top: 50px; /* Space from the navigation links */
    font-size: 5px; /* Adjust social icon size for mobile */
}

/* Hide the menu by default */

.social-icons a:hover {
    color: #e81b1b; /* Social media icons hover color */
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    h1 {
        /* font-size: 6em; */ /* Smaller font size for mobile devices */
        white-space: normal; /* Allows text wrapping */
        line-height: 1; /* Adjust line height to manage spacing between lines */
        font-size: 12vw; /* Adjust font size for smaller screens */
        text-align: center;
    }

    #person-img {
        max-height: 40vh; /* Adjust image size for smaller screens */
        bottom: 5vh;
    }

    #menuToggle {
        visibility: visible;
    }

    #menu a {
        font-size: 5.5em; /* Adjust link size for mobile */
    }

    .social-icons a {
        font-size: 1.5em; /* Adjust social icon size for mobile */
    }

}


