* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cards: 3;
    --cardWidth: 50vw;
    --cardHeight: 50vh;
    --cardTopPadding: 2.5em;
    --cardMargin: 4vw;
    --white: #FAF4D4;
    --dark-white: #585756;
    --grey: #181818;
    --black: #1F2125;
}
html {
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Helvetica', sans-serif;
    position: relative;
    flex-direction: column;
    background-color: var(--black);
}

/*----NAV MENU----*/
#menuToggle {
    position: fixed;
    top: 40px; /* Adjust top position as needed */
    right: 50px; /* Position to the upper right */
    -webkit-user-select: none;
    user-select: none;
    visibility: hidden; /* Initially hide the menu toggle */
    z-index: 1000;
    cursor: pointer;
}



/* Rest of your CSS styles remain unchanged */


#menuToggle input {

    top: -10px;
    left: -19%;
    display: block;
    width: 40px;
    height: 30px;
    position: absolute;
    cursor: pointer;
    opacity: 0; /* hide this */
    z-index: 300;
}

#menuToggle span {
    display: block;
    width: 28px;
    height: 2px;
    margin-bottom: 2px;
    position: relative;
    background: var(--white);
    border-radius: 4px;
    transform-origin: 0px 0px;
    box-shadow:none;
    opacity: 0.6;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    opacity 0.55s ease,
    box-shadow 0.5s ease; /* Add box-shadow transition */
    z-index: 200;
}

#menuToggle span:first-child
{
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
    /* transform-origin: 30% 250%; */

}

#menuToggle span:nth-last-child(3)
{
    opacity: 0;
}

#menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(0px, -11px);
    background: var(--black) ; /* Ensure this style has priority when input is checked */
    box-shadow: 0px 2px 8px var(--black);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, 6px);
}

#menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ #menu {
    display: flex; /* Show the menu when toggle is activated */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--white); /* Semi-transparent background for overlay */
    z-index: 70; /* Make sure it's above other content */
}

#menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--black); /* Overlay background */
    display: none; /* Initially hide the menu */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 70; /* Above the content */
    transition: all 0.5s ease;
}

/* Menu Navigation */
#menu-nav {
    display: flex;
    flex-direction: column; /* Display links vertically */
    align-items: center; /* Center links horizontally */
}

#menu-nav a {
    text-decoration: none;
    color: var(--black); /* Set text color */
    font-size: 8.5em; /* Set font size */
    font-weight: bolder; /* Set text to bold */
    margin-bottom: 10px; /* Add space between links */
}

/* Menu Social */
#menu-social {
    display: flex;
    justify-content: center; /* Center icons horizontally */
    margin-top: 20px; /* Add space from menu navigation */
}

#menu-social a {
    text-decoration: none;
    color: var(--white); /* Set icon color */
    font-size: 2em; /* Set icon size */
    margin: 0 10px; /* Add space between icons */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px; /* Adjust circle diameter */
    height: 60px; /* Adjust circle diameter */
    border-radius: 50%; /* Make it a circle */
    background-color: var(--black); /* Set background color to white */
}

#menu-social i {
    color: var(--white); /* Set icon color to black */
    font-size: 70%; /* Adjust icon size relative to circle */
}

#menu-nav a:hover {
    color: var(--dark-white); /* Change text color on hover */
}

#menu a:hover {
    color: var(--dark-white); /* Change text color on hover */

}

#menu-social a:hover {
    background-color: var(--dark-white); /* Change background color on hover */
}

#menuToggle, header {
    position: fixed;

    z-index: 1000; /* Ensure it stays on top of other content */

}

/*----MAIN----*/
main{
    position: relative;
    /*overflow: hidden;*/
    background-color: var(--black);
}

.separator {
    height: 0; /* Adjust separator height */
    clear: both; /* Ensures sections don't overlap the separator */
}

/*----SPLASH SCREEN----*/
#splashscreen {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: fixed; /* Stacking context */
    background-color: var(--black);
    z-index: 100;
}

#splashscreen-text h1{
    font-size: 5vw; /* Increased font size */
    font-weight: bolder; /* Make the text bolder */
    text-align: center;
    color: var(--black); /* Text color changed to black */
    z-index: 101; /* Ensure text is above other content */
    position: absolute;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Centering adjustment */
    white-space: nowrap; /* Ensures text stays in one line *!*/
}


/*----ABOUT SECTION IMPROVEMENTS----*/
#about {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center children horizontally */
    justify-content: center; /* Center children vertically */
    position: relative;
    min-height: 100vh;
    background: #1F2125;
    padding: 20vh;
    box-sizing: border-box;
}

#about-card {
    width: 350px; /* Adjust width as needed */
    height: 450px; /* Adjust height as needed */
    background: var(--white);
    padding: 0;
    box-sizing: border-box;
    border-radius: 20px; /* Adjust border radius as needed */
    box-shadow: -10px 10px 20px var(--dark-white); /* Optional: Adds shadow to the card */
    display: flex;
    justify-content: center;
    align-items: flex-end; /* Stick the image to the bottom */
}

#about-card img {
    width: 100%;
    height: auto;
    border-radius: 15px; /* Adjust to match the profile image border radius */
}

#about-content {
    text-align: center; /* Centers the content text */
    max-width: 80%; /* Limits the width for better readability */
    padding: 20px;
    box-sizing: border-box;
}

#about-content h2 {
    margin-bottom: 20px; /* Space between the title and the paragraph */
    color: var(--white);
    font-size: 3em;
    padding: 2vh;
}

#about-content p {
    text-align: justify; /* Justifies the paragraph */
    margin: 0 0; /* Centers the paragraph if max-width is less than parent's width */
    line-height: 1.6;
    width: 50vw;
    color: var(--white);
    font-weight: lighter;
    opacity: 0.6;
    font-size: 1.3em;
}



/*----CONTACT----*/
#contact{
    position: relative;
    height: 120vh;
    width: 100vw;
    margin: 0%;
    font-family: Arial, sans-serif;
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 5;
}
.contact-content {
    margin: 4%;
}

.contact-content h1 {
    font-size: 4em;
    margin: 0.2em 0;
}

.contact-content h2 {
    font-size: 2em;
    margin: 0.5em 0;
}

.contact-content button {
    padding: 1em 2em;
    margin: 1em 0;
    font-size: 1em;
    cursor: pointer;
    border: none;
    background-color: var(--white);
    color: var(--black);
    border-radius: 50px;
    outline: none;
}

.contact-content button:hover {
    background-color: var(--dark-white); /* Social media icons hover color */
}

.social-icons {
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px; /* Adjust social icon size for mobile */
    gap: 20px;
    white-space: nowrap; /* Ensures text stays in one line */
}

.social-icons a {
    color: var(--white);
    justify-content: center;
    padding: 0 10px;
    font-size: 1.5em; /* Social icon size */
}



/* Hide the menu by default */

.social-icons a:hover {
    color: var(--dark-white); /* Social media icons hover color */
}

/*----FOOTER----*/

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: var(--white);
    font-size: 12px;
    text-align: center;
    padding: 10px 0;
    z-index: 6;
}

@media (max-width: 768px) {

    #splashscreen-text h1 {
        /* font-size: 6em; */ /* Smaller font size for mobile devices */
        white-space: normal; /* Allows text wrapping */
        line-height: 1; /* Adjust line height to manage spacing between lines */
        font-size: 10vw; /* Adjust font size for smaller screens */
        text-align: center;
        white-space: nowrap; /* Ensures text stays in one line */
    }


    #menuToggle {
        visibility: visible;
    }

    #menu a {
        font-size: 5.5em; /* Adjust link size for mobile */
    }

    .contact-content h1 {
        font-size: 2em;
    }

    .contact-content h1 {
        font-size: 2em;
    }

    .social-icons a {
        font-size: 1.5em; /* Adjust social icon size for mobile */
        white-space: nowrap; /* Ensures text stays in one line */
    }

    #about {
        padding: 10vh; /* Reduce padding on smaller screens */
        justify-content: center;
    }

    #about-card {
        width: 80%; /* Increase width for smaller devices */
        margin: 0 auto 20px; /* Center the card horizontally and add bottom margin */
        height: auto; /* Allows the card to resize based on content */
    }

    #about-content {
        width: 100%; /* Allows the content to fill the container */
        padding: 10px; /* Adds padding for text readability */
        box-sizing: border-box; /* Ensures padding doesn't add to the width */
    }

    #about-content h2, #about-content p {
        width: auto; /* Ensures text width is determined by content */
        margin: 0 auto; /* Centers the text blocks horizontally */
        justify-content: center;
        text-align: center; /* Ensures text is centered */
        font-size: smaller;

    }


}