* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cards: 3;
    --cardWidth: 50vw;
    --cardHeight: 50vh;
    --cardTopPadding: 2.5em;
    --cardMargin: 4vw;
    --white: #FAF4D4;
    --dark-white: #585756;
    --grey: #181818;
    --black: #1F2125;
}

html {
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Exo',sans-serif;
    position: relative;
    flex-direction: column;
    background: var(--black);
}


/*----NAV MENU----*/
#menuToggle {
    position: fixed;
    top: 40px; /* Adjust top position as needed */
    right: 50px; /* Position to the upper right */
    -webkit-user-select: none;
    user-select: none;
    visibility: hidden; /* Initially hide the menu toggle */
    z-index: 1000;
    cursor: pointer;
}



/* Rest of your CSS styles remain unchanged */


#menuToggle input {

    top: -10px;
    left: -19%;
    display: block;
    width: 40px;
    height: 30px;
    position: absolute;
    cursor: pointer;
    opacity: 0; /* hide this */
    z-index: 300;
}

#menuToggle span {
    display: block;
    width: 28px;
    height: 2px;
    margin-bottom: 2px;
    position: relative;
    background: var(--white);
    border-radius: 4px;
    transform-origin: 0px 0px;
    box-shadow:none;
    opacity: 0.6;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    opacity 0.55s ease,
    box-shadow 0.5s ease; /* Add box-shadow transition */
    z-index: 200;
}

#menuToggle span:first-child
{
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
    /* transform-origin: 30% 250%; */

}

#menuToggle span:nth-last-child(3)
{
    opacity: 0;
}

#menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(0px, -11px);
    background: var(--black) ; /* Ensure this style has priority when input is checked */
    box-shadow: 0px 2px 8px var(--black);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, 6px);
}

#menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ #menu {
    display: flex; /* Show the menu when toggle is activated */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--white); /* Semi-transparent background for overlay */
    z-index: 70; /* Make sure it's above other content */
}

#menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--black); /* Overlay background */
    display: none; /* Initially hide the menu */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 70; /* Above the content */
    transition: all 0.5s ease;
}

/* Menu Navigation */
#menu-nav {
    display: flex;
    flex-direction: column; /* Display links vertically */
    align-items: center; /* Center links horizontally */
}

#menu-nav a {
    text-decoration: none;
    color: var(--black); /* Set text color */
    font-size: 8.5em; /* Set font size */
    font-weight: bolder; /* Set text to bold */
    margin-bottom: 10px; /* Add space between links */
    font-family: 'MigraItalic-ExtralightItalic', sans-serif;
}

/* Menu Social */
#menu-social {
    display: flex;
    bottom: 10vh;
    justify-content: center; /* Center icons horizontally */
    margin-top: 50px; /* Add space from menu navigation */
}

#menu-social a {
    text-decoration: none;
    color: var(--white); /* Set icon color */
    font-size: 2em; /* Set icon size */
    margin: 0 10px; /* Add space between icons */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px; /* Adjust circle diameter */
    height: 60px; /* Adjust circle diameter */
    border-radius: 50%; /* Make it a circle */
    background-color: var(--black); /* Set background color to white */
}

#menu-social i {
    color: var(--white); /* Set icon color to black */
    font-size: 70%; /* Adjust icon size relative to circle */
}

#menu-nav a:hover {
    color: var(--dark-white); /* Change text color on hover */
}

#menu a:hover {
    color: var(--dark-white); /* Change text color on hover */

}

#menu-social a:hover {
    background-color: var(--dark-white); /* Change background color on hover */
}

#menuToggle, header {
    position: fixed;

    z-index: 1000; /* Ensure it stays on top of other content */

}

.social-icons {
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px; /* Adjust social icon size for mobile */
    gap: 20px;
    white-space: nowrap; /* Ensures text stays in one line */
}

.social-icons a {
    color: var(--white);
    justify-content: center;
    padding: 0 10px;
    font-size: 1.5em; /* Social icon size */
}



/* Hide the menu by default */

.social-icons a:hover {
    color: var(--dark-white); /* Social media icons hover color */
}

/*----MAIN----*/
main{
    position: relative;
    /*overflow: hidden;*/
    background-color: var(--black);
}

.separator {
    height: 0; /* Adjust separator height */
    clear: both; /* Ensures sections don't overlap the separator */
}

/*----SPLASH SCREEN----*/
#splashscreen {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: fixed; /* Stacking context */
    background-color: var(--black);
    z-index: 100;
}

#splashscreen-text h1, #contact-title h1{
    font-size: 5vw; /* Increased font size */
    font-weight: bolder; /* Make the text bolder */
    text-align: center;
    color: var(--white); /* Text color changed to black */
    z-index: 101; /* Ensure text is above other content */
    position: absolute;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Centering adjustment */
    white-space: nowrap; /* Ensures text stays in one line *!*/
}



/*----CONTACT----*/
#contact {
    position: relative;
    height: 100vh;
    width: 100vw;
    margin: 0;
    font-family: Arial, sans-serif;
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 80;
    overflow: hidden;
}



/* Text Loop Animation Styles */
#Text-Loop .container {

    white-space: nowrap;
    overflow: hidden; /* Ensures content outside the container isn't visible */
    position: absolute;

    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; /* Ensure it's below .contact-content */
    display: flex;
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    /* Rest of your styles */
}


#Text-Loop .list {
    display: flex;
    align-items: start;
    animation: loop 200s infinite linear;
}

#Text-Loop .item-txt {
    font-size: 20vw; /* Adjust based on your layout's responsiveness */
    line-height: 2.8;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--dark-white);
    max-height: 50%;
    font-family: 'Slang', 'MigraItalic', sans-serif;
}

#contact:before {
    content: '';
    position: fixed;
    bottom: 0; /* Positioned at the bottom */
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 58.8%;
    background-color: rgb(211, 206, 177);
    /*background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);*/
    border-radius: 50% 50% 0 0 / 100% 100% 0 0;
    transform: scaleX(1.6);
    z-index: 2; /* Ensure the gradient is behind the content */
    box-shadow: 0 0 20px 5px var(--grey); /* Add glow effect */
}

.contact-content, .contact-social-icons, footer {
    z-index: 2; /* Ensure content is above the gradient */
}

.contact-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    /* other styles */
    z-index: 2;

}
.contact-content hr {
    border: black; /* Remove default border */
    height: 10px; /* Set the height of the line */
    background-color: black; /* Set the color of the line */
    margin: 20px 0; /* Optional: set the margin around the line */
    z-index: 1;
}

.contact-content h1{
    margin-top: 0vh;
    margin-bottom: 0vh;
    top: 3vh;
    position: relative;
    color: var(--black);
    font-family: 'MigraItalic-ExtralightItalic', sans-serif;

}

.contact-content h2{
    margin-top: 30vh;
    margin-bottom: 1vh;
    position: absolute;
    padding-bottom: 10px;
    color: var(--black);
    font-family: 'MigraItalic-ExtralightItalic', sans-serif;
}

.contact-content p{
    margin-top: 33vh;
    margin-bottom: 0;
    position: absolute;
    color: var(--black);
}

.contact-content h3{
    margin-top: 55vh;
    margin-bottom: 0;
    position: absolute;
    color: var(--black);
    font-family: 'MigraItalic-ExtralightItalic', sans-serif;

}


.contact-content button {
    position: absolute;
    top: 38vh;
    padding: 1em 2em;
    margin: 1em 0;
    font-size: 1em;
    cursor: pointer;
    border: none;
    background-color: #ded9bb;
    color: var(--black);
    border-radius: 50px;
    outline: none;
    box-shadow: 0 5px 20px 5px var(--dark-white); /* Add glow effect */
    font-family: 'MigraItalic-ExtralightItalic', sans-serif;
}

.contact-content button:hover {
    background-color: var(--grey); /* Social media icons hover color */
    color: var(--white);
    box-shadow: 0 0 20px 5px var(--black); /* Add glow effect */
}

/* Contact Form Modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 200; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    backdrop-filter: blur(8px); /* Add blur effect to the background */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    /*background-color: rgba(31, 33, 37, 1.9); !* Black w/ opacity *!*/
}

.contact-social-icons {
    position: absolute;
    margin-top: 65vh;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px; /* Adjust social icon size for mobile */
    gap: 20px;
    white-space: nowrap; /* Ensures text stays in one line */
}

.contact-social-icons a {
    color: var( --black);
    justify-content: center;
    padding: 0 10px;
    font-size: 1.5em; /* Social icon size */
}

/* Hide the menu by default */

.contact-social-icons a:hover {
    color: var(--dark-white); /* Social media icons hover color */
}

/* Modal Content/Box */

#contactFormModal{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.modal-content {
    background-color: rgba(250, 244, 212, 0.9);
    box-shadow: 0 0 20px 5px var(--dark-white); /* Add glow effect */
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    border-radius: 30px;
    width: 80%; /* Could be more or less, depending on screen size */
    max-width: 400px; /* Adjust the maximum width as needed */
}

/* The Close Button */
.close {
    color: var(--black);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: var(--dark-white);
    text-decoration: none;
    cursor: pointer;
}

.form-group {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

/*label {*/
/*    margin-bottom: 5px;*/
/*    display: block;*/
/*    color: var(--black); !* Red font color *!*/
/*    align-self: flex-start; !* Align label to the left *!*/

/*    background-color: #f0f0f0; !* Background color for label *!*/
/*    padding: 5px; !* Add padding for label *!*/
/*    border-radius: 5px; !* Add border-radius for label *!*/

/*}*/

/* Title */
#contactFormModal h2 {
    color: var(--black); /* Magenta font color */
    padding-bottom: 20px;
    /*text-shadow: 0 0 5px 10px var(--black); !* Add glow effect *!*/
    font-family: 'MigraItalic-ExtralightItalic', sans-serif;
}

/* Common styles for text fields, email fields, and submit buttons */
input[type="text"],
input[type="email"],
button[type="submit"] {
    width: 100%;
    padding: 20px 20px;
    margin: 0;
    color: var(--white);
    border: 1px solid var(--black);
    background-color: var(--black);
    box-sizing: border-box;
    border-radius: 20px;
    /*box-shadow: -2px 2px 3px 3px var(--dark-white); !* Add glow effect *!*/
    max-width: 100%;
    font-family: 'MigraItalic-ExtralightItalic', sans-serif;
}

/* Specific styles for textarea */
textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 5px 0;
    color: white;
    border: 1px solid var(--black);
    background-color: var(--black);
    box-sizing: border-box;
    border-radius: 30px;
    max-width: 100%;
    min-height: 200px; /* Increase the height of the textarea */
    font-family: 'MigraItalic-ExtralightItalic', sans-serif;
}

/* Style the submit button */
button[type="submit"] {
    background-color: var(--black);
    color: rgba(250, 244, 212, 0.73);
    padding: 14px 20px;
    cursor: pointer;
    font-family: 'MigraItalic-ExtralightItalic', sans-serif;
}

button[type="submit"]:hover {
    background-color: var(--black);
    /*opacity: 0.8;*/
    box-shadow: 0 0 8px 4px rgba(31, 33, 37, 0.69); /* Add glow effect */
    color: var(--white); /* Change text color to white */
    font-family: 'MigraItalic-ExtralightItalic', sans-serif;
}


/*----FOOTER----*/

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: var(--black);
    font-size: 12px;
    text-align: center;
    padding: 10px 0;
    z-index: 6;
}

/* When the screen width is 1024px or less */
@media (max-width: 1024px) {
    #Text-Loop .item-txt {
        font-size: 28vh; /* Adjust font size for smaller screens */
    }
}


@keyframes loop {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

@media (max-width: 768px) {

    #splashscreen-text h1 {
        /* font-size: 6em; */ /* Smaller font size for mobile devices */
        white-space: normal; /* Allows text wrapping */
        line-height: 1; /* Adjust line height to manage spacing between lines */
        font-size: 10vw; /* Adjust font size for smaller screens */
        text-align: center;
        white-space: nowrap; /* Ensures text stays in one line */
    }

    #menuToggle {
        visibility: visible;
    }

    #menu a {
        font-size: 5.5em; /* Adjust link size for mobile */
    }

    .contact-content h1 {
        font-size: 1em;
    }


    .contact-social-icons a {
        font-size: 1.5em; /* Adjust social icon size for mobile */
        white-space: nowrap; /* Ensures text stays in one line */
    }
    #Text-Loop .item-txt {
        font-size: 28vh; /* Adjust font size for smaller screens */
    }

}